.navbar-default {
    background-color: steelblue;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: deepskyblue;
}

#app {
    min-height: 100vh;
    height: 100%;
    padding-bottom:40px;
    background-color: #ACDAF9;
}

.poll-main-body {
    height: 80%;
}

.poll-footer {
    height: 40px;
    background-color: steelblue;
    color: white;

    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear:both;
    padding-top:20px;
}

.full-width {
    width: 100%;
}

.poll-input {
    border: none;
}

.poll-form {
    height: 300px;
}